*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: montserrat;
    background: url(images/bg1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    
}

nav{
    background: #e6003a;
    height: 80px;
    width: 100%;
    justify-items: center;
    position: fixed;
    
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-transform: capitalize;
    align-content: center;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active, a:hover{
    background: #f11b50;
    transition: .4s;
}
span{
    color: rgb(34, 253, 253);
}


/*Modal Section*/

section{
width: 100vw;
height: 100vh;
/* background: #f24438;*/
display: grid;
place-items: center;
font-family: poppins, sans-serif;
font-weight: 300;
line-height: 1.5;
}
.subBtn{
padding: 1rem 3rem;
font-size: 1rem;
transition: all 300ms ease;
border-radius: 1rem;
border: none;
font-weight: bold;
background: #e6003a;
color: white;

}
#sub:hover{
opacity: 0.8;
cursor: pointer;
}

.modal{
width: 100%;
height: 100%;
position: fixed;
display: grid;
place-items: center;
/*background: rgba(0, 0, 0, 0.781);*/
display: none;
animation: openModal 500ms linear forwards;


}
.modal .card{
background: white;
width: 50rem;
display: flex;
align-items: center;
gap: 2rem;
padding: 2rem;
position: relative;
border-radius: 1rem;
}

.modal .card #close{
position: absolute;
top: 2rem;
right: 2rem;
font-size: 1.3rem;
}
.modal .card .brand{
width: 30rem;
}

.modal.card .brand img{
display: block;
width: 100%;
}
.modal .card h2{
margin-bottom: 2rem;

}
.modal .card form{
margin-top: 2rem;
width: 100%;
display: flex;
justify-content: space-between;
}
.modal .card input[type="email"]{
background: #eee;
width: 100%;
padding: 1rem;
outline: none;
border: none;
}
.modal .card  input[type="submit"]{
background: #e6003a;

color: white;
padding: 0 1.6rem;
margin-left: 0.3rem;
cursor: pointer;
border: none;

}

/*=====OPEN MODAL ANIMATION=====*/
@keyframes openModal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*======CLOSE MODAL ANIMATION======*/
@keyframes closeModal{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.close-modal-animation{
    animation: closeModal 500ms linear forwards;
}
footer{
    background: #131010;
    width: 100vw;
    height: 50px;

}
.footer-sec{
    place-items: center;
    margin: 3px 17px;
    
}
footer .footer-sec .footer-secLogo{
    padding: 15px 15px 15px 15px;
    margin-left: 45%;
    color: white;
    font-weight: 100;
    text-transform: capitalize;
    margin-top: 30px;
}
footer label .logo-footer{

    padding: 50px;
    margin: 20px 20px 20px 20px;
}

